.control-btn {
  background: transparent;
  border: 0px;
  font-size: 5vmin;
  width: 100%;
  height: 16vmin;
  padding: 0;
}

.control-btn:not(:hover) {
  transition: 0.2s;
}

.control-btn:hover {
  color: #ff751a;
  font-size: 7vmin;
}


.control-btn:active {
  transition: 0.2s;
}

.control-btn:not(:active) {
  transition: 0.2s;
}

.control-btn:focus {
  outline: none;
}

.control-btn-big {
  font-size: 9vmin;
}

.control-btn-small {
  font-size: 3vmin;
}

.control-btn-big:hover {
  font-size: 11vmin;
}

.control-btn-small:hover {
  font-size: 5vmin;
}

.control-btn-bottom-bar {
  font-size:20px;
}

.control-btn-bottom-bar:hover {
  font-size:23px;
}

