
img.center {
  display: block;
  margin: 0 auto;
}

img.left {
  display: block;
  margin: 0 auto;
  float: left;
}

.body {
  overflow-x: hidden;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.bottom-page-margin {
  padding-bottom: 100px;
}

.h-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 1px solid gray;
}

.centered {
  display: block;
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.font-weight-bold {
  font-weight: bold;
}

.text-overflow-ellipsis {
  width: calc(100% - 1px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.font-weight-normal {
  font-weight: normal;
}

.font-italic {
  font-style: italic;
}

.font-bigger {
  font-size: 2em;
}

.font-big {
  font-size: 1.25em;
}

.font-medium {
  font-size: 1.125em;
}

.font-small {
  font-size: 0.9375em;
}

.top-buffer {
  margin-top: 1em;
}

.right-buffer {
  margin-right: 15px;
}

.left-buffer {
  margin-left: 15px;
}

.bottom-buffer {
  margin-bottom: 15px;
}

.album-img-large {
  max-width: 80%;
  min-width: 0%;
}

input[type=text], input[type=email], input[type=password], input[type=search] {
  background: #3d3d3d;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: rgba(229, 103, 23, 0.8);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
  outline: 0 none;
}

.title-background {
  background-color: #ff751a;
  border-radius: 7px;
  padding: 3px;
  color: black
}

a {
  color: #ff751a;
}

a:hover, a:active, a:focus {
  color: #ff8b34;
}

.text-emphasis {
  color: #ff751a;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #ff751a;
}

.max-height {
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.song-table tr {
  background-color: transparent;
}

.song-table th {
  font-size: 1.5em;
  font-weight: bold;

  text-align: center;
}

.song-table td {
  text-align: left;
  font-size: 1.2em;
  text-align: center;
}

.orange-button {
  text-align: center;
  display: inline-block;
  position: absolute;
  margin-left: 0;
  text-decoration: none;
  color: #fff !important;
  text-transform: capitalize;
  background-color: #ff751a;
  padding: 10px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.05s linear 0s;
  font-weight: bold;
  border: 0;
}

.orange-button-plus:before {
  content: '\f067';
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.05s linear 0s;
}
.orange-button-follow:before{
  content: '\f234';
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.05s linear 0s;
}
.orange-button-unfollow:before{
  content: '\f235';
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.05s linear 0s;
}

.orange-button:hover {
  text-indent: 30px;
}

.orange-button:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

