/**
* Styles for the slider
*/
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  display: inline;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  vertical-align: middle;
  margin-top: 11px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ff751a;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover,
.slider::-webkit-slider-thumb:active{
  width: 22px;
  height: 22px;
  transition: 0.2s;
}

.slider::-webkit-slider-thumb:not(:hover) {
  transition: 0.2s;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff751a;
  cursor: pointer;
}
