<template>
  <div id="wrapper">
    <div id="page-wrapper">
      <div class="bottom-page-margin container-fluid">
        <img class="album-img-corner col-lg-3 col-sm-6 col-xs-12" :src="album.artworkUrl100 | albumImgSize"/>
        <img class="album" :src="album.artworkUrl100 | albumImgSize"/>
        <div class="col-lg-9 col-sm-6 col-xs-12">
          <div class="font-bigger font-weight-bold">{{album.collectionName}}</div>
          <div class="font-big font-italic">ALBUM BY</div>
          <router-link :to="{name: 'Artist', params: {artistId: album.artistId}}"
                       class="font-weight-bold font-big">
            {{album.artistName}}
          </router-link>
          <div class="font-big">{{album.releaseDate | selectYear}} - {{album.primaryGenreName}}</div>
          <div class="font-big">{{album.trackCount}} songs - {{albumDuration}}</div>
          <div class="row top-buffer">
            <div class="col-xs-12">
              <a class="iTunesLink" target="_blank"
                 :href="album.collectionViewUrl"
                 style="background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/itunes-lrg.svg) no-repeat;width:150px;height:40px;background-size:contain;"></a>
              <a href="#" class="orange-button orange-button-plus" @click="addAlbumToPlaylist">Add to playlist</a>
            </div>
          </div>
        </div>
        <div class="row">
          <songs-list v-if="album.collectionId" :tracks="tracks" @addTrackToPlaylist="addTrackToPlaylist"/>
        </div>
      </div>
    </div>
    <add-to-playlist v-if="addingToPlaylist" :songs="songsToAddToPlaylist" @close="addingToPlaylist = false"/>
  </div>
</template>

<script>
  import SongsList from '@/components/SongsList';
  import album from '@/scripts/album';
  import formatTime from '@/scripts/helpers';
  import AddToPlaylist from '../components/AddToPlaylist';

  export default {
    data: () => ({
      album: {
        artworkUrl100: '/static/img/logo.png',
        artistId: 0
      },
      addingToPlaylist: false,
      songsToAddToPlaylist: [],
      tracks: [],
      errors: [],
    }),
    components: {
      AddToPlaylist,
      'songs-list': SongsList
    },
    watch: {
      '$route.params.albumId': function () {
        this.loadData();
      }
    },
    created() {
      this.loadData();
    },
    computed: {
      albumDuration() {
        if (!this.tracks) {
          return '00:00';
        }
        let time = 0;
        this.tracks.forEach((d) => {
          time += d.trackTimeMillis;
        });
        return formatTime(parseInt(time, 10));
      }
    },
    filters: {
      selectYear: function selectYear(date) {
        if (!date) {
          return '';
        }
        return date.substring(0, 4);
      },
      albumImgSize: function albumImgSize(url) {
        if (!url) {
          return '';
        }
        return url.replace('100x100', '400x400');
      }
    },
    methods: {
      loadData() {
        album.getAlbum(this.$route.params.albumId, (response) => {
          this.album = response.data.results[0];
        });
        album.getAlbumTracks(this.$route.params.albumId, (response) => {
          this.tracks = response.data.results;
        });
      },
      addAlbumToPlaylist() {
        this.songsToAddToPlaylist = this.tracks;
        this.addingToPlaylist = true;
      },
      addTrackToPlaylist(track) {
        this.songsToAddToPlaylist = [track];
        this.addingToPlaylist = true;
      }
    }
  };
</script>
<style scoped>
  .album {
    position: fixed;
    z-index: -1;
    opacity: 0.2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100vmax;
  }

  .album-img-corner {
    max-width: 100%;
    /* margin-right: 15px; */
    padding: 1px;
    border: 1px solid #ff751a;
    background-color: gray;
  }

  .iTunesLink {
    display: inline-block;
  }
</style>
