<template>
  <div id="wrapper">
    <div id="page-wrapper">
      <div class="container-fluid bottom-page-margin">
        <img class="artist" :src="artistImg"/>
        <img class="artist-img-corner col-lg-3 col-sm-6 col-xs-12" :src="artistImg"/>
        <div class="col-lg-9 col-sm-6 col-xs-12">
          <div class="font-bigger font-weight-bold">{{artist.artistName}}</div>
          <div class="font-big">{{artist.primaryGenreName}}</div>
          <div class="row top-buffer">
            <div class="col-xs-12">
              <a class="iTunesLink"
                 target="_blank"
                 v-bind:href="artist.artistLinkUrl"
                 style="background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/itunes-lrg.svg) no-repeat;width:110px;height:45px;background-size:contain;"></a>
            </div>
          </div>
        </div>
        <horizontal-carousel :carousel="albums" :title="albums.length+' albums'"/>
      </div>
    </div>
  </div>
</template>

<script>
  import artist from '@/scripts/artist';
  import HorizontalCarousel from '@/components/HorizontalCarousel';

  export default {
    data() {
      return {
        artist: {
          artworkUrl100: '/static/img/logo.png',
        },
        albums: [],
        error: [],
        artistImg: ''
      };
    },
    components: {
      HorizontalCarousel
    },
    watch: {
      '$route.params.artistId': function () {
        this.loadData();
      }
    },
    created() {
      this.loadData();
    },
    filters: {
      resizeImg(url) {
        return url.replace('100x100', '400x400');
      }
    },
    methods: {
      loadData() {
        artist.getArtist(this.$route.params.artistId, (response) => {
          this.artist = response.data.results[0];
        });
        artist.getAlbumsForArtist(this.$route.params.artistId, (response) => {
          this.albums = response.data.results;
        });
        artist.getImgArtist(this.$route.params.artistId, (src) => {
          this.artistImg = src;
        });
      }
    }
  };
</script>

<style scoped>

  .artist {
    position: fixed;
    z-index: -1;
    opacity: 0.20;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100vmax;

  }

  .artist-img-corner {
    max-width: 100%;
    /* margin-right: 15px; */
    padding: 1px;
    border: 1px solid #ff751a;
    background-color: gray;

  }

  .artist-img {
    width: 100%;
    border: 1px #9b4e18 solid;
    margin: 5px;
    padding: 10px;
    max-height: 205px;
  }

  .iTunesLink {
    display: inline-block;
  }

</style>
