<template>
  <div id="wrapper">
    <div id="page-wrapper">
      <div class="container-fluid bottom-page-margin">
        <horizontal-carousel v-if="favoriteGenre.songs.length > 0" :carousel="favoriteGenre.songs"
                             :title="'Albums in ' + favoriteGenre.genre"/>
        <horizontal-carousel v-if="secondFavoriteGenre.songs.length > 0" :carousel="secondFavoriteGenre.songs"
                             :title="'Albums in ' + secondFavoriteGenre.genre"/>
        <horizontal-carousel v-if="discover.songs.length >0" :carousel="discover.songs" :title="'Discover albums'"/>
        <horizontal-carousel v-if="discoverGenre.songs.length > 0" :carousel="discoverGenre.songs"
                             :title="'Discover genre ' + discoverGenre.genre"/>
        <clip-loader v-else :color="'#ff751a'" :width="'100%'"/>
      </div>
    </div>
  </div>
</template>

<script>
  import ClipLoader from 'vue-spinner/src/ClipLoader';
  import HorizontalCarousel from '@/components/HorizontalCarousel';
  import HomeAPIHandler from '@/scripts/homeFetcher';

  export default {
    name: 'home',
    data() {
      return {
        helper: new HomeAPIHandler()
      };
    },
    components: {
      HorizontalCarousel,
      ClipLoader
    },
    computed: {
      discover() {
        return this.helper.getRandomAlbums();
      },
      favoriteGenre() {
        return this.helper.getRandomAlbumsForFavoriteGenre();
      },
      secondFavoriteGenre() {
        return this.helper.getRandomAlbumsForSecondFavoriteGenre();
      },
      discoverGenre() {
        return this.helper.getRandomGenre();
      }
    }
  };
</script>

<style scoped>


</style>
