<template>
  <div id="wrapper">
    <div id="page-wrapper">
      <img class="background" :src="backgroundUrl"/>
      <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 centered-vertical">
        <div class="jumbotron container-fluid semi-transparent">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <div v-if="!creatingUser">
              <div class="text-align-center bold big-margin-bottom">
                <div class="title-font">U<span class="title-background">Beat</span></div>
                <div class="font-medium">Be the master of your playlist</div>
              </div>
              <div class="top-buffer big-margin-bottom container-fluid">
                <div class="col-md-12 top-buffer">
                  <input class="form-control" placeholder="Email address" type="email" id="email"/>
                </div>
                <div class="col-md-12 top-buffer">
                  <input class="form-control" placeholder="Password" type="Password" id="password"/>
                </div>
                <div class="col-md-12 top-buffer">
                  <label class="text-danger" v-for="error in errorMsg">{{error}}</label>
                  <button class="form-control login-btn" @click="login"><span
                    class="glyphicon glyphicon-log-in right-buffer"></span>Log
                    in
                  </button>
                </div>
              </div>
              <div class="top-buffer text-align-center">
                <label>Don't have an account ? <a href="#" @click="creatingUser = true">Sign up</a></label>
              </div>
            </div>
            <div v-else>
              <div class="text-align-center bold big-margin-bottom">
                <div class="title-font">U<span class="title-background">Beat</span></div>
                <div class="font-medium">Be the master of your playlist</div>
              </div>
              <div class="top-buffer big-margin-bottom container-fluid">
                <div class="col-md-12 top-buffer">
                  <input class="form-control" placeholder="Firstname" type="text" name="firstname" id="firstname-c"/>
                </div>
                <div class="col-md-12 top-buffer">
                  <input class="form-control" placeholder="Lastname" type="text" name="lastname" id="lastname-c"/>
                </div>
                <div class="col-md-12 top-buffer">
                  <input class="form-control" placeholder="Email address" type="email" name="email" id="email-c"/>
                </div>
                <div class="col-md-12 top-buffer">
                  <input class="form-control" placeholder="Password" type="Password" id="password-c-1"/>
                </div>
                <div class="col-md-12 top-buffer">
                  <input class="form-control" placeholder="Confirm password" type="Password" id="password-c-2"/>
                </div>
                <div class="col-md-12 top-buffer">
                  <label class="text-danger" v-for="error in errorMsg">{{error}}</label>
                  <button class="form-control login-btn" @click="signUp"><span
                    class="glyphicon glyphicon-log-in right-buffer"></span>
                    Sign up
                  </button>
                </div>
              </div>
              <div class="top-buffer text-align-center">
                <label>Already have an account ? <a href="#" @click="creatingUser = false">Log in</a></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import LoginAPIHandler from '@/scripts/login';

  export default {
    name: 'login',
    data() {
      return {
        creatingUser: false,
        backgroundUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRlBmtAQmbFKw9L7YLQ2EvaWpseuWjZ2_6OLGliVjx5tjgIaJb',
        errorMsg: []
      };
    },
    watch: {
      creatingUser() {
        this.errorMsg = [];
      }
    },
    methods: {
      login() {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const error = [];

        if (!email) {
          error.push('Email must be non-empty');
        }

        if (!password) {
          error.push('Password must be non-empty');
        }

        if (error.length > 0) {
          this.errorMsg = error;
        }

        LoginAPIHandler.logIn(email, password, (logRes) => {
          if (logRes.status === 200) {
            this.$router.push('/');
          }
        }, () => {
          error.push('Username or password invalid');
          this.errorMsg = error;
        });
      },
      signUp() {
        const firstname = document.getElementById('firstname-c').value;
        const lastname = document.getElementById('lastname-c').value;
        const email = document.getElementById('email-c').value;
        const password = document.getElementById('password-c-1').value;
        const passwordConfirm = document.getElementById('password-c-2').value;

        const error = [];

        if (!firstname) {
          error.push('Firstname must be non-empty');
        }

        if (!lastname) {
          error.push('Lastname must be non-empty');
        }

        if (!email) {
          error.push('Email must be non-empty');
        }

        if (!password) {
          error.push('Password must be non-empty');
        }

        if (password !== passwordConfirm) {
          error.push('Password confirmation must match password');
        }

        if (error.length > 0) {
          this.errorMsg = error;
        }

        LoginAPIHandler.signUp(firstname, lastname, email, password, (response) => {
          if (response.status === 200) {
            LoginAPIHandler.logIn(email, password, (logRes) => {
              if (logRes.status === 200) {
                this.$router.push('/');
              }
            });
          }
        },
          (err) => {
            if (err.status === 401) {
              error.push('This email is already used by another user');
            } else {
              error.push('Sign up failed for unknown reasons. Make sure your information are correct.');
            }
            this.errorMsg = error;
          });
      }
    }
  };
</script>

<style scoped>
  .centered-vertical {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
  }

  .big-margin-bottom {
    margin-bottom: 30px;
  }

  .title-font {
    font-size: 50px;
    color: white;
  }

  .login-btn {
    background: #ff751a;
    border-radius: 50px;
    color: black;
  }

  .background {
    position: fixed;
    z-index: -1;
    opacity: 0.4;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100vmax;
  }

  .semi-transparent {
    background-color: rgba(52, 52, 52, 0.85);
  }
</style>
