<template>
  <div id="wrapper">
    <div id="page-wrapper">
      <div class="container-fluid bottom-page-margin">
        <div class="font-big font-weight-bold">
          <div class="col-xs-12 col-sm-6 top-buffer">
            <button class="form-control button" @click="creatingPlaylist=true"><span
              class="glyphicon glyphicon-plus right-buffer"></span>New
              playlist
            </button>
          </div>
          <div class="col-xs-12 col-sm-6 top-buffer">
            <button class="form-control button" @click="deletingPlaylist=true"><span
              class="glyphicon glyphicon-trash right-buffer"></span>Delete
              playlist
            </button>
          </div>
        </div>
        <div class="col-xs-12 top-buffer" v-if="showLoader">
          <clip-loader :loading="showLoader" :color="'#ff751a'" :width="'100%'"/>
        </div>
        <div class="col-xs-12">
          <playlist v-for="playlist in playlists" :playlist="playlist" :key="playlist.id"/>
        </div>
        <create-playlist-modal v-if="creatingPlaylist" @close="playlistCreated"/>
        <delete-playlist-modal v-if="deletingPlaylist" @close="deletePlaylistsDone" :playlists="playlists"/>
      </div>
    </div>
  </div>
</template>

<script>
  import ClipLoader from 'vue-spinner/src/ClipLoader';
  import PlaylistAPIHandler from '@/scripts/playlists';
  import Playlist from '../components/Playlist';
  import CreatePlaylist from '../components/CreatePlaylistModal';
  import DeletePlaylist from '../components/DeletePlaylistModal';

  export default {
    name: 'playlists',
    data() {
      return {
        playlists: [],
        creatingPlaylist: false,
        deletingPlaylist: false,
        showLoader: true
      };
    },
    mounted() {
      PlaylistAPIHandler.getPlaylists((response) => {
        this.playlists = response.data;
        this.showLoader = false;
      });
    },
    components: {
      playlist: Playlist,
      'create-playlist-modal': CreatePlaylist,
      'delete-playlist-modal': DeletePlaylist,
      ClipLoader,
    },
    methods: {
      playlistCreated(playlist) {
        this.creatingPlaylist = false;

        if (playlist) {
          this.playlists.push(playlist);
        }
      },
      deletePlaylistsDone(playlistsDeleted) {
        this.deletingPlaylist = false;
        if (playlistsDeleted) {
          this.playlists = this.playlists.filter(m => playlistsDeleted.indexOf(m) === -1);
        }
      }
    }
  };

</script>

<style scoped>

  .button {
    width: 100%;
    background: #222;
  }

  .button:focus {
    border-color: #ff751a;
  }

</style>
