<template>
  <div id="wrapper">
    <div id="page-wrapper">
      <div class="container-fluid bottom-page-margin">
        <div class="title-font font-weight-bold white">
          Coming next
        </div>
        <draggable v-model="player.playQueue" class="list-group" :options="{handle:'.handle'}">
          <transition-group name="list">
            <div v-for="song in player.playQueue" :key="song.trackId"
                 class="item list-group-item list-item container-fluid">
              <div class="row">
                <div class="play-btn-row control-btn-play-queue">
                  <i class="glyphicon glyphicon-play" @click="playSong(song)"></i>
                </div>
                <div class="text-row">
                  <div class="font-weight-bold font-big text-overflow-ellipsis">
                    {{song.trackName}}
                  </div>
                  <div class="text-overflow-ellipsis">
                    {{song.artistName}}
                  </div>
                </div>
                <div class="handle-row">
                  <i class="handle fa fa-bars"></i>
                </div>
              </div>
            </div>
          </transition-group>
        </draggable>
      </div>
    </div>
  </div>
</template>

<script>

  import draggable from 'vuedraggable';

  export default {
    name: 'playing-queue',
    components: {
      draggable
    },
    methods: {
      playSong(song) {
        this.player.playSong(song);
      }
    }
  };

</script>

<style scoped>

  .title-font {
    font-size: 35px;
  }

  .list-item {
    font-size: 1em;
    margin-top: 3px;
    padding: 10px;
  }

  .list-item i {
    font-size: 1.3em;
    margin-top: 15px;
  }

  .list-item span {
    font-size: 1.3em;
  }

  .white {
    color: white;
  }

  .play-queue-row > div {
    display: inline-block;
  }

  .play-btn-row {
    width: 40px;
    float: left;
    display: inline-block;
    margin-left: 20px;
  }

  .text-row {
    width: calc(100% - 100px);
    display: inline-block;
  }

  .handle-row {
    width: 40px;
    font-size: 20px;
    float: right;
    display: inline-block;
  }

  .list-enter-active, .list-leave-active {
    transition: all 0.4s;
  }

  .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */
  {
    opacity: 0;
    transform: translateX(-100%);
  }

  .control-btn-play-queue:hover {
    color: #ff751a;
  }
</style>
