<template>
  <div id="wrapper">
    <div id="page-wrapper">
      <div class="bottom-page-margin container-fluid">
        <v-gravatar class="profile-corner-img col-lg-3 col-sm-6 col-xs-12" :email="user.email"
                    default-img="http://listen.turkishmusic.com/assets/images/default_avatar.jpg"/>
        <div class="font-weight-bold font-bigger col-lg-9 col-sm-6 col-xs-12">{{user.name}} - <a
          :href="`mailto:${user.email}`">{{user.email}}</a>
        </div>
        <div class="col-lg-9 col-sm-6 col-xs-12">
          <div class="font-big" v-if="playlists">{{playlists.length}} playlists</div>
          <div class="font-big" v-if="user.following">Following {{user.following.length}} users
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-9">
          <button @click="followUser" v-if="!isCurrentUser" class="orange-button orange-button-follow">Follow</button>
          <button @click="unfollowUser" v-if="isFollowed" class="orange-button orange-button-unfollow">Unfollow</button>
        </div>
        <div class="col-xs-12">
          <div class="font-big font-weight-bold">Playlists</div>
          <playlist v-for="playlist in playlists" :canEdit="isCurrentUser" :playlist="playlist" :key="playlist.id"/>
        </div>
        <div class="col-xs-12">
          <div class="font-big font-weight-bold top-buffer bottom-buffer">
            Followers
          </div>
          <followers :followers="followers"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Gravatar from 'vue-gravatar';
  import Followers from '@/components/Followers';
  import Users from '@/scripts/users';
  import PlaylistAPIHandler from '@/scripts/playlists';
  import Playlist from '../components/Playlist';

  export default {
    data: () => ({
      currentUser: [],
      user: [],
      playlists: [],
      isCurrentUser: false,
      isFollowed: false,
      followers: []
    }),
    name: 'Profile',
    components: {
      'v-gravatar': Gravatar,
      playlist: Playlist,
      Followers
    },
    watch: {
      '$route.params.userId': function () {
        this.loadData();
      }
    },
    mounted() {
      this.loadData();
    },
    methods: {
      followUser() {
        Users.followUser({ id: this.user.id }, () => {
          this.isFollowed = true;
          this.$toasted.success('User followed successfully');
        });
      },
      unfollowUser() {
        Users.unfollowUser(this.user.id, () => {
          this.isFollowed = false;
          this.$toasted.success('User unfollowed successfully');
        });
      },
      loadData() {
        Users.getUser(this.$route.params.userId, (response) => {
          this.user = response.data;
          this.followers = response.data.following;
          if (this.user.id === this.userInfo.userInfo.id) {
            this.isCurrentUser = true;
          } else {
            Users.getUser(this.userInfo.userInfo.id, (rep) => {
              this.currentUser = rep.data;
              if (this.currentUser.following.find(x => x.email === this.user.email)) {
                this.isFollowed = true;
              }
            });
          }
          PlaylistAPIHandler.getPlaylists((playlistsResponse) => {
            this.playlists = playlistsResponse.data;
            this.showLoader = false;
          }, this.user.id);
        });
      }
    }
  }
  ;
</script>

<style scoped>
  .profile-corner-img {
    border-radius: 50%;
  }
</style>
