<template>
  <!-- template for the modal component -->
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Add to playlist</h3>
              <button class="close" data-dismiss="modal" @click="$emit('close')">
                <span aria-hidden="true" class="x">&times;</span>
              </button>
            </div>
            <div class="modal-body container-fluid">
              <clip-loader v-if="showLoader" :color="'#ff751a'" :width="'100%'"/>
              <div class="col-xs-12">
                <div class="col-xs-12 checkbox" v-for="item in playlists">
                  <label class="checkbox-label" onselectstart="return false">
                    <input class="checkbox" type="checkbox"
                           @change="checkboxChange($event, item)"/>{{item.name}}</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" @click="addToPlaylists" v-bind:disabled="!anySelected">
                Add to selected
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import PlaylistApiHelper from '@/scripts/playlists';
  import ClipLoader from 'vue-spinner/src/ClipLoader';

  export default {
    name: 'add-to-playlist',
    data() {
      return {
        playlists: [],
        selectedPlaylists: [],
        showLoader: true
      };
    },
    components: {
      ClipLoader
    },
    props: ['songs'],
    mounted() {
      PlaylistApiHelper.getPlaylists((response) => {
        this.playlists = response.data;
        this.showLoader = false;
      });
    },
    computed: {
      anySelected() {
        return this.playlists.length !== 0;
      }
    },
    methods: {
      checkboxChange(event, item) {
        if (event.target.checked) {
          this.selectedPlaylists.push(item);
        } else {
          this.selectedPlaylists.splice(this.selectedPlaylists.indexOf(item), 1);
        }
      },
      addToPlaylists() {
        this.selectedPlaylists.forEach((playlist) => {
          this.songs.forEach((track) => {
            PlaylistApiHelper.addTrackToPlaylist(playlist.id, track);
          });
        });
        this.$toasted.success('Track(s) added successfully to playlist(s)');
        this.$emit('close');
      }
    }
  };
</script>

<style scoped>

</style>
