<template>
  <!-- template for the modal component -->
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Delete playlists</h3>
              <button class="close" data-dismiss="modal" @click="$emit('close')">
                <span aria-hidden="true" class="x">&times;</span>
              </button>
            </div>
            <div class="modal-body container-fluid">
              <div class="col-xs-12">
                <div class="col-xs-12 checkbox" v-for="item in playlists">
                  <label class="checkbox-label" onselectstart="return false">
                    <input class="checkbox" type="checkbox"
                           @change="checkboxChange($event, item)"/>{{item.name}}</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" @click="deletePlaylists" v-bind:disabled="!anySelected">
                Delete selected
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import PlaylistAPIHandler from '@/scripts/playlists';

  export default {
    name: 'delete-playlist-modal',
    data() {
      return {
        selectedPlaylists: []
      };
    },
    props: {
      playlists: {
        type: Array,
        default: []
      }
    },
    computed: {
      anySelected() {
        return this.selectedPlaylists.length !== 0;
      }
    },
    methods: {
      deletePlaylists() {
        this.selectedPlaylists.forEach((el) => {
          PlaylistAPIHandler.deletePlaylist(el.id);
          this.$toasted.success('Playlist(s) deleted successfully');
        });

        this.$emit('close', this.selectedPlaylists);
      },
      checkboxChange(event, item) {
        if (event.target.checked) {
          this.selectedPlaylists.push(item);
        } else {
          this.selectedPlaylists.splice(this.selectedPlaylists.indexOf(item), 1);
        }
      }
    },
    mounted() {
      document.body.addEventListener('keyup', (event) => {
        if (event.keyCode === 27) {
          this.$emit('close');
        }
      });
    }
  };
</script>

<style scoped>

  .checkbox-label {
    font-size: 14px;
  }

  .checkbox-label input[type=checkbox] {
    margin-top: 0px;
  }
</style>
