<template>
  <!-- template for the modal component -->
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Edit playlist</h3>
              <button class="close" data-dismiss="modal" @click="$emit('close')">
                <span aria-hidden="true" class="x">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input class="form-control top-buffer" type="text" placeholder="Playlist's name" v-model="name"
                     v-on:keyup="enterPlaylist"/>
              <label class="text-danger" v-if="nameError">Playlist name must contain between 1 and 254 characters!</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" @click="editPlaylist">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>

  import PlaylistAPIHandler from '@/scripts/playlists';

  export default {
    name: 'edit-playlist-modal',
    data() {
      return {
        nameError: false,
        name: ''
      };
    },
    props: ['playlist'],
    methods: {
      editPlaylist() {
        if (!this.name || this.name.length > 254) {
          this.nameError = true;
          return;
        }
        this.playlist.name = this.name;
        PlaylistAPIHandler.editPlaylist(this.playlist, this.name, (response) => {
          this.$emit('close', response.data);
          this.$toasted.success('Playlist edited successfully');
        });
      },
      enterPlaylist(event) {
        if (event.keyCode === 13) {
          this.editPlaylist();
        }
      }
    },
    mounted() {
      document.body.addEventListener('keyup', (event) => {
        if (event.keyCode === 27) {
          this.$emit('close');
        }
      });
    }
  };
</script>

<style scoped>


</style>
