<template>
  <div class="bottom-page-margin container-fluid">
    <div v-if="followers.length > 0">
      <div class="col-lg-2 col-md-3 col-xs-6" v-for="follower in followers">
        <div class="jumbotron followers-list col-xs-12">
          <v-gravatar class="avatar col-lg-12 col-md-12 col-xs-12" :email="follower.email"
                      default-img="http://listen.turkishmusic.com/assets/images/default_avatar.jpg"/>
          <div class="text-overflow-ellipsis name col-lg-12 col-md-6 col-xs-12">{{follower.name}}</div>
        </div>
      </div>
    </div>
    <div v-else>
      None
    </div>
  </div>
</template>

<script>
  import Gravatar from 'vue-gravatar';

  export default {
    name: 'Followers',
    data() {
      return {
        user: []
      };
    },
    props: ['followers'],
    components: {
      'v-gravatar': Gravatar
    }
  };
</script>

<style scoped>
  div.followers-list {
    margin: 2px;
    alignment: center;
    padding: 5px;
    /*border: 1px solid #929292;*/
  }

  div.followers-list:hover {
    border: 1px solid #656565;
  }

  .avatar {
    border-radius: 50%;
    padding: 5px;
  }

  div.name {
    font-family: "Avenir Next", sans-serif;
    text-align: center;
  }
</style>
