<template>
  <div class="bottom-buffer">
    <div class="row">
      <div class="col-xs-12 font-bigger font-weight-bold centered">
        <div class="right-margin">
          {{title}}
        </div>
        <div class="anchor anchor-left">
          <button @click="scrollLeft" :disabled="!leftVisible" class="carousel-btn"><span
            class="glyphicon glyphicon-chevron-left"></span>
          </button>
        </div>
        <div class="anchor anchor-right">
          <button @click="scrollRight" :disabled="!rightVisible" class="carousel-btn"><span
            class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="scrollmenu" ref="menu">
      <router-link class="home-scroll-item" :to="{name: 'Album', params: {albumId: item.collectionId}}"
                   v-for="item in carousel" v-on:input="checkButtonsVisibility(currentScroll)">
        <img class="img-home" v-bind:src="item.artworkUrl100.replace('100x100', '300x300')"/>
        <div class="font-weight-bold text-align-center text-overflow-ellipsis">
          {{ item.collectionName }}
        </div>
        <div class="text-align-center text-overflow-ellipsis">
          {{ item.artistName }}
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'horizontal-carousel',
    props: ['carousel', 'title'],
    mounted() {
      this.checkButtonsVisibility(this.currentScroll);
    },
    data() {
      return {
        rightVisible: true,
        leftVisible: false,
        currentScroll: 0
      };
    },
    watch: {
      carousel() {
        this.checkButtonsVisibility(this.currentScroll);
      }
    },
    updated() {
      this.checkButtonsVisibility(this.currentScroll);
    },
    methods: {
      scrollRight() {
        this.scrollMenu(1);
      },
      scrollLeft() {
        this.scrollMenu(-1);
      },
      scrollMenu(factor) {
        const elem = this.$refs.menu;
        const width = elem.clientWidth;
        const currentScroll = elem.scrollLeft;

        let nextOffset = currentScroll + (factor * width);
        nextOffset = nextOffset < 0 ? 0 : nextOffset;

        const options = {
          container: elem,
          easing: 'linear',
          offset: nextOffset,
          x: true
        };
        this.currentScroll = nextOffset;

        this.$scrollTo(elem, 150, options);
        this.checkButtonsVisibility(nextOffset);
      },
      checkButtonsVisibility(currentScroll) {
        this.leftVisible = currentScroll > 0;

        const menu = this.$refs.menu;
        const maxWidth = menu.scrollWidth;
        const visibleWidth = menu.offsetWidth;

        this.rightVisible = currentScroll < maxWidth - visibleWidth;
      }
    }
  };
</script>

<style scoped>
  .anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
  }
  .right-margin {
    margin-right: 100px;
  }

  .anchor-left {
    right: 80px;

  }

  .anchor-right {
    right: 30px;
  }

  .carousel-btn {
    background: transparent;
    border-radius: 3px;
    height: 100%;
    border: none;
  }

  .carousel-btn:focus, .carousel-btn:active {
    border: none;
    outline: none;
  }

  .carousel-btn:hover {
    color: white;
  }

  button:disabled,
  button[disabled], button[disabled]:active, button[disabled]:focus, button[disabled]:hover {
    color: #4a4a4a;
  }

  .img-home {
    width: 100%;
    border: 1px #9b4e18 solid;
  }

  .text-overflow-ellipsis {
    width: calc(100% - 1px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .text-overflow-ellipsis {
    width: calc(100% - 1px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .scrollmenu {
    position: relative;
  }

  div.scrollmenu {
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
  }

  div.scrollmenu > a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 0.8em;
  }

  div.scrollmenu > div {
    display: inline-block;
    height: 100%;
  }

  div.scrollmenu > a:hover {
    background-color: #777;
  }

  .home-scroll-item {
    width: 50%;
  }

  @media (min-width: 576px) {
    .home-scroll-item {
      width: 33%;
    }

    div.scrollmenu {
      font-size: 0.8em;
    }
  }

  @media (min-width: 768px) {
    .home-scroll-item {
      width: 33%;
    }

    div.scrollmenu {
      font-size: 1em;
    }
  }

  @media (min-width: 992px) {
    .home-scroll-item {
      width: 25%;
    }

    div.scrollmenu {
      font-size: 1.2em;
    }
  }

</style>
