<template>
  <footer class="music-footer">
    <div class="max-height">
      <div class="col-md-4 col-sm-5 col-sm-offset-0 col-xs-2 col-xs-offset-1 max-height">
        <div class="col-md-2 col-sm-2 col-xs-12 max-height">
          <router-link to="/playing">
            <img class="centered max-height hover-bigger" v-bind:src="player.currentPlaying.artworkUrl100"/>
          </router-link>
        </div>
        <div class="hidden-xs">
          <div class="col-md-10 col-sm-10 max-height ">
            <div class="col-md-12 font-title font-weight-bold line-wrap-dot">
              {{player.currentPlaying.trackName}}
            </div>
            <div class="col-md-12 font-artist line-wrap-dot font-weight-normal">
              {{player.currentPlaying.artistName}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-7 col-xs-9 max-height">
        <div class="max-height col-md-2 col-sm-2 col-xs-2 ccol-md-offset-1 col-sm-offset-1">
          <button class="control-btn max-height control-btn-bottom-bar" @click="player.toggleReadingMode()"><span class="fa"
                                                                              :class="{'fa-random' : player.readingMode === $ReadingMode.random, 'fa-refresh' : player.readingMode === $ReadingMode.repeat, 'fa-arrow-circle-right' : player.readingMode === $ReadingMode.regular}"></span>
          </button>
        </div>
        <div class="max-height col-md-2 col-sm-2 col-xs-2">
          <button @click="player.previous()" class="control-btn max-height control-btn-bottom-bar"><span
            class="fa fa-fast-backward"></span>
          </button>
        </div>
        <div class="max-height col-md-2 col-sm-2 col-xs-2">
          <button v-on:click="$player.switchPlaying()" class="control-btn max-height control-btn-bottom-bar"><span
            v-bind:class="['fa', {'fa-play':!player.playing, 'fa-pause':player.playing}]"></span></button>
        </div>
        <div class="max-height col-md-2 col-sm-2 col-xs-2">
          <button @click="player.next()" class="control-btn max-height control-btn-bottom-bar"><span
            class="fa fa-fast-forward"></span>
          </button>
        </div>
        <div class="max-height col-md-2 col-sm-2 col-xs-2">
          <button class="control-btn max-height control-btn-bottom-bar" @click="player.togglePlayInfinite()"><span
            class="fa fa-repeat"
            v-bind:class="{'text-emphasis' : player.isPlayInfinite }"></span>
          </button>
        </div>
      </div>
    </div>
  </footer>
</template>222222

<script>
  export default {
    name: 'music-footer'
  };
</script>

<style scoped>
  .music-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: gray 1px solid;
    background-color: #222222;
    height: 80px;
    z-index: 1200;
  }

  @media (max-width: 767px) {
    .music-footer {
      z-index: 200;
    }
  }

  .line-wrap-dot {
    display: inline-block;
    width: calc(100% - 1px);
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .font-title {
    font-size: 1.2em;
  }

  .font-artist {
    font-size: 0.9em;
  }

  .hover-bigger:hover {
    transform: scale(1.1);
  }
  .add-btn:focus {
    border: none;
  }
</style>
