<template>
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle front" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <router-link class="navbar-brand font-weight-bold main-title" to="/">U<span
        class="title-background">Beat</span></router-link>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul id="active" class="nav navbar-nav side-nav border-bottom">
        <li :data-toggle="isMobile ? 'collapse' : ''" v-bind:class="{selected : this.$route.path==='/'}"
            data-target="#menu">
          <router-link to="/"><i class="glyphicon glyphicon-home"></i> Home</router-link>
        </li>
        <li class="h-divider"></li>
        <li :data-toggle="isMobile ? 'collapse' : ''" v-bind:class="{selected : this.$route.path==='/playlists'}"
            data-target="#menu">
          <router-link to="/playlists"><i class="glyphicon glyphicon-th-list"></i> My Playlists</router-link>
        </li>
        <li :data-toggle="isMobile ? 'collapse' : ''" v-bind:class="{selected : this.$route.path==='/playing-queue'}"
            data-target="#menu">
          <router-link to="/playing-queue"><i class="glyphicon glyphicon-list-alt"></i> Play queue</router-link>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-user">
        <li class="dropdown user-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
            {{userInfo.userInfo.name}}<b
              class="caret"></b></a>
          <ul class="dropdown-menu">
            <li :data-toggle="isMobile ? 'collapse' : ''" data-target="#menu">
              <router-link :to="{name: 'Profile', params: {userId: userInfo.userInfo.id}}"><i
                class="glyphicon glyphicon-user"></i> My Profile
              </router-link>
            </li>
            <li :data-toggle="isMobile ? 'collapse' : ''" data-target="#menu">
              <router-link to="/settings"><i class="glyphicon glyphicon-cog"></i> Settings</router-link>
            </li>
            <li :data-toggle="isMobile ? 'collapse' : ''" data-target="#menu">
              <a href='#' @click="logout"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li>
          <div class="navbar-search bottom-buffer">
            <!-- object value -->
            <model-select :options="options"
                          v-model="item" ref="searchBar"
                          placeholder="Search" @keyup.native="search">
            </model-select>
          </div>
        </li>
        <li>
          <select class="select-resp font-weight searchOptions" v-on:change="setSearchFunction" ref="select">
            <option :value="1">All</option>
            <option :value="2">Album</option>
            <option :value="3">Artist</option>
            <option :value="4">Tracks</option>
            <option :value="5">Users</option>
          </select>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
  /* eslint-disable func-names,no-eval */

  import { ModelSelect } from 'vue-search-select';
  import navigation from '@/scripts/search';
  import debounce from 'debounce';
  import LoginAPIHandler from '@/scripts/login';

  export default {
    name: 'nav-menu',
    data() {
      return {
        isMobile: window.innerWidth < 768,
        options: [],
        item: {
          value: '',
          text: ''
        },
        searchFct: navigation.getSearch
      };
    },
    components: {
      ModelSelect
    },
    mounted() {
      window.addEventListener('resize', this.checkIfMobile);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.checkIfMobile);
    },
    watch: {
      item() {
        switch (this.item.value.wrapperType) {
          case 'artist':
            this.$router.push({ name: 'Artist', params: { artistId: this.item.value.artistId } });
            break;
          case 'track':
            this.$router.push({ name: 'Album', params: { albumId: this.item.value.collectionId } });
            break;
          case 'collection':
            this.$router.push({ name: 'Album', params: { albumId: this.item.value.collectionId } });
            break;
          default:
            this.$router.push({ name: 'Profile', params: { userId: this.item.value.id } });
            break;
        }
      }
    },
    methods: {
      checkIfMobile() {
        this.isMobile = window.innerWidth < 768;
      },
      setSearchFunction() {
        const sel = this.$refs.select;
        const selected = sel.selectedIndex;

        switch (selected) {
          case 0:
            this.searchFct = navigation.getSearch;
            break;
          case 1:
            this.searchFct = navigation.getAlbumsResearch;
            break;
          case 2:
            this.searchFct = navigation.getArtistsResearch;
            break;
          case 3:
            this.searchFct = navigation.getTracksResearch;
            break;
          case 4:
            this.searchFct = navigation.getUsersResearch;
            break;
          default:
            throw DOMException('ur mom gay');
        }
      },
      search: debounce(function () {
        const searchBar = this.$refs.searchBar;
        const text = searchBar.searchText;
        this.searchFct(text, (response) => {
          this.options = [];
          const dataResponse = response.data.results || response.data;
          let dataToDisplay = [];
          const groups = this.groupBy(dataResponse, 'wrapperType');
          Object.keys(groups).forEach((k) => {
            dataToDisplay = dataToDisplay.concat(groups[k]);
          });


          this.options = dataToDisplay.map(data => ({
            value: data, text: this.getTextForResults(data)
          }));
        });
      }, 200),
      getTextForResults(data) {
        switch (data.wrapperType) {
          case 'artist':
            return `(Artist) ${data.artistName}`;
          case 'track':
            return `(Track) ${data.trackName}`;
          case 'collection':
            return `(Album) ${data.collectionName}`;
          default:
            return `(User) ${data.name}`;
        }
      },
      logout() {
        LoginAPIHandler.logOut(() => {
          this.$router.push('/login');
        });
      },
      groupBy(xs, key) {
        return xs.reduce((rv, x) => {
          // eslint-disable-next-line no-param-reassign
          (rv[x[key]] = rv[x[key]] || []).push(x);
          return rv;
        }, {});
      }
    }
  };
</script>

<style scoped>

  .main-title {
    font-size: 26px;
  }

  .search {
    background: #3d3d3d !important;
    margin-left: 15px;
    color: white !important;
  }

  .search:focus {
    border-color: rgba(229, 103, 23, 0.8) !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
    outline: 0 none !important;
  }

  .menu {
    background: #3d3d3d !important;
    color: white !important;
  }

  .icon {

  }

  .searchOptions {
    background: #3d3d3d;
    border-color: #3d3d3d;
    height: 40px;
    margin-top: 6px;

  }

  .buttonSearch {
    background: #3d3d3d;
    border-color: #3d3d3d;
    height: 40px;
    margin-top: 6px;

  }

  .ui.dropdown .menu {
    background: #1f79a3 !important;

  }

  @media (min-width: 768px) {
    .search {
      width: 300px !important;
    }
  }

  .select-resp {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;

  }


</style>

