<template>
  <div class="playing-anim-container" v-bind:class="{playing:!player.isPlaying}">
    <div class="bar left-bar"></div>
    <div class="bar middle-bar"></div>
    <div class="bar right-bar"></div>
  </div>
</template>

<script>
  export default {
    name: 'playing-animation'
  };
</script>

<style scoped>
  .playing-anim-container {
    position: relative;
    min-height: 30px;
    height: calc(100% - 4px);
    min-width: 10px;
    max-width: 25px;
    margin: 0 auto;
  }

  .bar {
    position: absolute;
    width: 30%;
    background: rgba(255, 117, 26, 0.7);
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .left-bar {
    bottom: 0px;
    left: 0px;
    height: 40%;
    animation-name: left-kf;

  }

  .middle-bar {
    height: 20%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: middle-kf;
  }

  .right-bar {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 60%;
    animation-name: right-kf;
  }

  .playing > div {
    height: 10%;
    animation-name: none !important;
  }

  @keyframes left-kf {
    0% {
      height: 40%
    }
    25% {
      height: 100%
    }
    75% {
      height: 10%
    }
  }

  @keyframes middle-kf {
    0% {
      height: 20%
    }
    50% {
      height: 100%
    }
    90% {
      height: 10%
    }
  }

  @keyframes right-kf {
    0% {
      height: 60%
    }
    15% {
      height: 100%
    }
    60% {
      height: 10%
    }
  }

</style>
