<template>
  <div>
    <div class="playlist-title top-buffer list-group-item" data-toggle="collapse"
         v-bind:data-target="'#playlist'+_uid"
         v-on:click="handleClick($event)" :playlist="playlist">
      <div class="row">
        <div class="col-xs-6 col-sm-8 col-md-9">
          {{playlist.name}}
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 font-small text-align-right">
          <span class="right-buffer">{{playlistDuration}}</span>
          <span class="glyphicon glyphicon-edit right-buffer" v-if="canEdit" v-on:click="editPlayList"></span>
          <span class="glyphicon glyphicon-chevron-down" v-bind:class="collapsed ? 'down':'up'"></span>
        </div>
      </div>
    </div>
    <edit-playlist-modal v-if="editingPlaylist" :playlist="playlist" @close="playlistEdited"/>
    <div class="list-group collapse" v-bind:id="'playlist'+_uid" data-toggle="dropdown" ref="collapse">
      <div v-for="p in playlist.tracks" class="list-group-item list-item" :key="p.id">
        <div class="row">
          <div class="play-btn-row">
            <i v-if="player.currentPlaying.trackId !== p.trackId" class="glyphicon glyphicon-play"
               @click="play(p)"></i>
            <playing-animation v-else/>
          </div>
          <div class="text-row">
            <div class="font-weight-bold font-big text-overflow-ellipsis">
              {{p.trackName}}
            </div>
            <div class="text-overflow-ellipsis">
              {{p.artistName}}
            </div>
          </div>
          <div class="remove-row">
            <i class="glyphicon glyphicon-remove remove" v-if="canEdit" @click="removeFromPlaylist(p)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import formatTime from '@/scripts/helpers';
  import PlaylistAPIHandler from '@/scripts/playlists';
  import playingAnimation from '@/components/PlayingAnimation';
  import EditPlaylistModal from '../components/EditPlaylistModal';

  export default {
    name: 'playlist',
    data() {
      return {
        collapsed: true,
        editingPlaylist: false
      };
    },
    components: {
      playingAnimation,
      'edit-playlist-modal': EditPlaylistModal
    },
    props: {
      playlist: {
        type: Object,
        default: {}
      },
      canEdit: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      handleClick(event) {
        if (this.$refs.collapse.classList.contains('collapsing')) {
          event.preventDefault();
          return;
        }

        this.collapsed = !this.collapsed;
      },
      editPlayList(event) {
        event.stopPropagation();
        event.stopImmediatePropagation();
        this.editingPlaylist = true;
      },
      playlistEdited() {
        this.editingPlaylist = false;
      },
      removeFromPlaylist(track) {
        PlaylistAPIHandler.deleteTrackFromPlaylist(this.playlist.id, track.trackId, () => {
          this.playlist.tracks.splice(this.playlist.tracks.indexOf(track), 1);
          this.$toasted.success('Remove from playlist successfully');
        });
      },
      play(song) {
        this.player.setTracks(this.playlist.tracks);
        this.player.playSong(song);
      }
    },
    computed: {
      playlistDuration() {
        let time = 0;
        this.playlist.tracks.forEach((d) => {
          time += d.trackTimeMillis;
        });

        return formatTime(parseInt(time, 10));
      }
    }
  };
</script>

<style scoped>


  .list-item i {
    font-size: 1.3em;
    margin-top: 10px;
  }

  .list-item {
    font-size: 0.8em;
    margin-top: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .playlist-title {
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
  }

  .play-btn-row {
    width: 30px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }

  .text-row {
    width: calc(100% - 95px);
    display: inline-block;
  }

  .remove-row {
    width: 30px;
    float: right;
    color: red;
  }

  .remove:hover {
    transform: scale(1.2);
  }

  .up {
    transform: rotate(180deg);
    transition: 0.2s ease-out;
  }

  .down {
    transform: rotate(0deg);
    transition: 0.2s ease-out;
  }
</style>
