<template>
  <div id="wrapper">
    <div id="page-wrapper">
      <div class="full-height">
        <div class="container-centered">
          <div class="col-md-12">
            <img id="album-img" class="album-img center"
                 v-bind:src="player.currentPlaying.artworkUrl100 | albumImgSize">
          </div>
          <div class="row text-center">
            <div class="col-md-12 font-big top-buffer">
              <label>{{player.currentPlaying.trackName}}</label>
            </div>
            <div class="col-md-12 font-medium">
              <router-link :to="{name: 'Artist', params: {artistId: player.currentPlaying.artistId}}">{{player.currentPlaying.artistName}}</router-link>
              <label> - </label>
              <router-link :to="{name: 'Album', params: {albumId: player.currentPlaying.collectionId}}">{{player.currentPlaying.collectionName}}</router-link>
            </div>
          </div>
          <div class="row top-buffer text-align-center font-medium">
            <div class="col-md-2 col-xs-3">
              <label class="font-small">{{playedTime}}</label>
            </div>
            <div class="col-md-8 col-xs-6">
              <input v-model="player.audio.currentTime" class="slider" type="range" min="0" v-bind:max="player.totalDuration" value="0"
                     id="song-progress">
            </div>
            <div class="col-md-2 col-xs-3">
              <label class="font-small">{{remainingTime}}</label>
            </div>
          </div>
          <div class="mt-2 row">
            <div class="col-md-2 col-sm-3 col-xs-3 top-buffer">
              <button class="control-btn control-btn-small"><span class="fa fa-random"></span></button>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-6 top-buffer">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <button @click="player.previous()" class="control-btn"><span class="fa fa-fast-backward"></span>
                  </button>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <button v-on:click="player.switchPlaying()" class="control-btn control-btn-big"><span
                    v-bind:class="['fa', {'fa-play':!player.playing, 'fa-pause':player.playing}]"></span></button>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <button @click="player.next()" class="control-btn"><span class="fa fa-fast-forward"></span></button>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3 top-buffer pull-right">
              <button class="control-btn control-btn-small"@click="player.togglePlayInfinite()"><span class="fa fa-repeat"
                                                                                                      v-bind:class="{'text-emphasis' : player.isPlayInfinite }"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#wrapper -->
</template>

<script>
  import formatTime from '@/scripts/helpers';

  export default {
    name: 'playing',
    computed: {
      // a computed getter
      playedTime() {
        return formatTime(this.player.currentTime * 1000);
      },
      remainingTime() {
        return formatTime((this.player.totalDuration - this.player.currentTime) * 1000);
      }
    },
    filters: {
      albumImgSize: function albumImgSize(url) {
        if (!url) {
          return '';
        }
        return url.replace('100x100', '400x400');
      }
    }
  };
</script>

<style scoped>
  .full-height {
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
    padding-top: 20px;
  }

  .container-centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .album-img {
    max-width: 80%;
  }

  @media (max-width: 768px) {

    .album-img {
      max-width: 95%;
    }
  }

  @media (orientation: landscape) and (max-width: 768px) {

    .album-img {
      max-width: 40%;
    }

    .container-centered {
      margin-top: 65px;
    }
  }
</style>
