<template>
  <table class="table song-table table-hover">
    <thead class="font-weight-bold">
    <tr>
      <th style="width:5%;">#</th>
      <th style="width:10%; min-width:43px"></th>
      <th style="width:10%; min-width:43px"></th>
      <th style="width:70%;">Title</th>
      <th style="width:15%;"><span class="glyphicon glyphicon-time right-buffer"></span></th>
    </tr>
    </thead>
    <tbody>
    <songs-list-entry v-for="track in tracks" :key="track.trackId" :songData="track" @playSong="playSong(track)" @addTrackToPlaylist="addTrackToPlaylist"/>
    </tbody>
  </table>
</template>

<script>
  import SongsListEntry from '@/components/SongsListEntry';

  export default {
    data: () => ({
      errors: []
    }),
    components: {
      'songs-list-entry': SongsListEntry
    },
    props: ['tracks'],
    name: 'songs-list',
    methods: {
      playSong(song) {
        if (this.tracks != null) {
          this.player.setTracks(this.tracks);
          this.player.playSong(song);
        }
      },
      addTrackToPlaylist(track) {
        this.$emit('addTrackToPlaylist', track);
      }
    }
  };
</script>

<style scoped>
  .song-table {
    background-color: transparent;
  }
</style>
