<template>
  <tr>
    <td style="width:5%;">{{songData.trackNumber}}</td>
    <td style="width:10%;">
      <button class="button-play-add" @click="$emit('playSong', songData)"
              v-if="player.currentPlaying.trackId !== songData.trackId">
        <span
          v-bind:class="player.currentPlaying.trackId === songData.trackId ? 'glyphicon glyphicon-pause' : 'glyphicon glyphicon-play'"></span>
      </button>
      <playing-animation v-else/>
    <td style="width:10%"><button class="button-play-add" @click="$emit('addTrackToPlaylist', songData)"><span class="glyphicon glyphicon-plus"/></button></td>
    <td style="width:60%;">{{songData.trackName}}</td>
    <td style="width:15%;">{{songDuration}}</td>
  </tr>
</template>

<script>

import formatTime from '@/scripts/helpers';
import playingAnimation from '@/components/PlayingAnimation';

export default {
  name: 'songs-list-entry',
  props: ['songData'],
  computed: {
    songDuration() {
      return formatTime(this.songData.trackTimeMillis);
    }
  },
  components: {
    playingAnimation
  }
};
</script>

<style scoped>
  .button-play-add {
    background-color: inherit;
    border: none;
  }
</style>
