<template>
  <div>
    <nav-menu v-if="isBorderAllowed"/>
    <router-view/>
    <music-footer v-if="isBorderBottomView && isBorderAllowed"/>
  </div>
</template>

<script>
  import Navigation from '@/components/Navigation';
  import MusicFooter from './components/MusicFooter';

  export default {
    name: 'app',
    components: {
      'nav-menu': Navigation,
      'music-footer': MusicFooter
    },
    computed: {
      isBorderBottomView() {
        return this.$route.path !== '/playing';
      },
      isBorderAllowed() {
        return this.$route.path !== '/login';
      }
    }
  };
</script>

